@{
    ViewData["Title"] = "Home Page";
}

<style>
    html {
        background-color: aquamarine;
        font-family: Arial;
        display: inline-block;
    }

    body {
        width: 75%;
        text-align: center;
        display: inline-block;
        margin-left: 12.5%;
    }

    .footer {
        margin-left: -12.5%;
    }

    h3 {
        padding-top: 40px;
    }

     h3#Mission {
         margin-left: 25%;
     }

    p {
        width: 75%;
        margin-left: 15%;
    }

     p#Kstart {
         width: 60%
     }

    img#Kick {
        float: right;
        display: inline-block;
        margin-right: 0%;
        margin-top: -15%;
        position: relative;
        width: 240px;
        height: 240px;
    }
</style>



<h2>A Pocket In Time</h2>

<h3>About Our Company</h3>

<p id="Kstart">
    We at A Pocket In Time are a small Kickstarter company that mainly focuses on selling Fashinable Watches to the people who need them, From Basic Watches,
    Vintage Watches from even 100 Plus years ago, and even some of the brand new Smart Watches and Fit bits from Both Apple and Samsung!
</p>

<img src="~/img/Kickstarter.png" alt="Kickstarter Logo" id="Kick" />

<h3 id="Mission">Our Mission!</h3>

<p>Our mission is quite simple, To make the world a more trendy and fashionable place, one pocket at a time!</p>

<img src="~/img/Pocket Watch.jpg" alt="Pocket Watch" style="Width: 640px; Height: 480px;" id="Pocket" />